<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85b2ec">  <td>23/11/09 22:19:37</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TC_01_SampleApi.afterTest()[pri:0, instance:tests.TC_01_SampleApi@223aa2f7]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1421866327</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/11/09 22:19:31</td>   <td>-5512</td> <td>&nbsp;</td><td title="&gt;&gt;TC_01_SampleApi.beforeTest()[pri:0, instance:tests.TC_01_SampleApi@223aa2f7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1421866327</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/11/09 22:19:37</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_01_SampleApi.f()[pri:0, instance:tests.TC_01_SampleApi@223aa2f7]">f</td> 
  <td>main@1421866327</td>   <td></td> </tr>
</table>
